html {
	height: 100%;
}
body {
	display: flex;
	margin: 0;
	height: 100%;
	flex-direction: column;
	font-family: sans-serif;
}
#scene, #game {
	flex-grow: 1;
}
#scene {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
	overflow: hidden;
	height: 70%;
}
.scene-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	--mountain-layer-offset: 0px;
	background: url(images/mountains-fixed.svg), linear-gradient(0deg, #27a2c4 0%, #0000c4 100%);
	background-size: auto 100%, auto;
	background-position-x: calc(0px - var(--mountain-layer-offset)), center;
	background-position-y: center, center;
	overflow: hidden;
	z-index: -1;
}
.scene-background .decoration {
	display: inline-block;
	position: absolute;
}
.scene-background .decoration.scrolldecoration {
	top: calc(100% * var(--y));
	/* left: calc(calc(100% + var(--size)) * var(--x)); */
	right: calc(calc(calc(100% + var(--size)) * var(--x)) - var(--size));
	width: var(--size);
}
.scene-background .decoration.scrolldecoration.frontlayer {
	top: unset;
	bottom: 0;
	overflow: visible;
}
.decoration svg {
	width: 100%;
	height: auto;
}
@keyframes background-scroll-deco {
	0% {
		left: 100%;
	}
	100% {
		left: -100%;
	}
}

.train-car {
	height: 12vh;
	width: /* auto */ calc(21 * calc(12vh / 10));
	position: relative;
}
.train-car > img {
	height: 100%;
	width: auto;
}
.train-car.train-car-locomotive {
	width: calc(25 * calc(12vh / 10));
}

.car-contents {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
}

.car-contents .figure:not([data-ownername="null"]) {
	opacity: 0;
}
.figure {
	height: 60%;
}
.figure svg {
	height: 100%;
	width: auto;
}
.figure.face-right svg path {
	transform: scaleX(-1);
	transform-origin: center;
}
.figure.layer-bottom {
	margin-bottom: 12%;
}
.figure.layer-top {
	margin-bottom: 43%;
}
.train-car-locomotive .figure.layer-top {
	margin-bottom: 28%;
}
.figure.stunned {
	margin-left: 10%;
	margin-right: 10%;
}
.figure.layer-bottom.stunned {
	margin-bottom: 6%;
}
.figure.layer-top.stunned {
	margin-bottom: 37%;
}
.train-car-locomotive .figure.layer-top.stunned {
	margin-bottom: 24%;
}

.realfigures {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
}
.realfigures .figure {
	position: absolute;
	top: 0;
	left: 0;
	transform: scaleX(var(--flip));
	transform-origin: center;
	transition: top 0.3s linear, left 0.3s linear, transform 0.3s linear;
}
.figure.real-stunned {
	transform: scaleX(var(--flip)) rotate(90deg);
}
.player-self {
	filter: drop-shadow(0px 2px 0px black) drop-shadow(0px 10px 8px white);
}



#game {
	display: flex;
	flex-direction: column;
	overflow: auto;
	flex-grow: 1;
}
#game .maingamecontents {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#game .playerlist {
	flex-grow: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
#game .playerlist > div {
	border: 1px solid black;
	border-bottom: none;
	margin: 1em;
	margin-bottom: 0;
	position: relative;
}
.playerlist > div, .playerlist .user-color {
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}
.playerlist .user-name {
	padding: 0.5em 1em;
	text-align: center;
	height: calc(100% - 2.5em);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.playerlist .user-color {
	height: 1.5em;
	background: var(--color);
}
.playerlist .user-color.dead {
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path d="M 0 0 L 1 0 L 0 1 Z M 0 2 L 2 0 L 2 1 L 1 2 Z" fill="black" /></svg>') var(--color);
}
.playerlist .user-annotation {
	--bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M 4.2 10 Q 6.7 1.9 10 0 Q 5.1 2.1 3.4 7.2 Q 2.2 5.1 1.6 4.8 Q 1.2 6 0 6.4 Q 0.9 6.6 3.7 10 Z" fill="darkgreen" /></svg>') lime;
	position: absolute;
	top: -1em;
	left: calc(50% - 1em);
	box-sizing: border-box;
	width: 2em;
	height: 2em;
	border-radius: 1em;
	background: var(--bg);
	border: 2px solid black;
	background-size: 75%, auto;
	background-position: center;
	background-repeat: no-repeat;
}
.user-annotation.user-annotation-win {
	--bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 45"><path d="M 24 0 L 30 17 H 48 L 34 28 L 39 45 L 24 35 L 9 45 L 14 28 L 0 17 H 18 Z" fill="red" /></svg>') yellow;
}

.giantbtn {
	background: blue;
	color: white;
	padding: 1em;
	display: inline-block;
}
.giantbtn.disabled {
	background: gray;
}

.card {
	width: 5em;
	height: 5em;
	border-radius: 1em;
	display: inline-block;
	margin: 1em;
	border: 0.5em solid gray;
	background-size: contain !important;
}
.card[data-contents=""] {
	border-style: dashed;
}