html {
	height: 100%;
}
body {
	display: flex;
	margin: 0;
	height: 100%;
	flex-direction: column;
}
#scene, #game {
	flex-grow: 1;
}
#scene {
	position: relative;
}
.scene-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	--mountain-layer-offset: 0px;
	background: url(images/mountains-fixed.svg), linear-gradient(0deg, #27a2c4 0%, #0000c4 100%);
	background-size: auto 100%, auto;
	background-position: center;
}